<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Admin Home</title>
	</head>
	<body>
		{% extends "baseadmin.html" %} {% block content %}
		<div class="row text-center">
			<div class="col-md-12 pt-5">
				<h2>
					“Old books exert a strange fascination for me -- their smell, their
					feel, their history; wondering who might have owned them, how they
					lived, what they felt.” ― Lauren Willig
				</h2>
			</div>
		</div>
		<div class="container-fluid px-4">
			<h1 class="mt-4">Dashboard</h1>
			<ol class="breadcrumb mb-4">
				<li class="breadcrumb-item active">Dashboard</li>
			</ol>
			<div class="row">
				<div class="col-xl-3 col-md-6">
					<div class="card bg-primary text-white mb-4">
						<div class="card-body">Primary Card</div>
						<div
							class="card-footer d-flex align-items-center justify-content-between"
						>
							<a class="small text-white stretched-link" href="#"
								>View Details</a
							>
							<div class="small text-white">
								<i class="fas fa-angle-right"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-md-6">
					<div class="card bg-danger text-white mb-4">
						<div class="card-body">Danger Card</div>
						<div
							class="card-footer d-flex align-items-center justify-content-between"
						>
							<a class="small text-white stretched-link" href="#"
								>View Details</a
							>
							<div class="small text-white">
								<i class="fas fa-angle-right"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-md-6">
					<div class="card bg-warning text-white mb-4">
						<div class="card-body">Warning Card</div>
						<div
							class="card-footer d-flex align-items-center justify-content-between"
						>
							<a class="small text-white stretched-link" href="#"
								>View Details</a
							>
							<div class="small text-white">
								<i class="fas fa-angle-right"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-md-6">
					<div class="card bg-success text-white mb-4">
						<div class="card-body">Success Card</div>
						<div
							class="card-footer d-flex align-items-center justify-content-between"
						>
							<a class="small text-white stretched-link" href="#"
								>View Details</a
							>
							<div class="small text-white">
								<i class="fas fa-angle-right"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endblock %}
	</body>
</html>
