<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		{% extends "baseadmin.html" %} {% block content %}
		<div class="row">
			<div class="col-md-12 pt-5">
				<h2>
					Author Listing
					<button
						type="button"
						class="btn btn-outline-success float-end"
						data-bs-toggle="modal"
						data-bs-target="#modaladd"
					>
						Add Author
					</button>
				</h2>
				<table id="t_author" class="table table-striped">
					<thead>
						<tr>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Ashley</td>
							<td>Hutson</td>
							<td>
								<a
									href=""
									class="btn btn-warning btn-sm"
									data-bs-toggle="modal"
									data-bs-target="#modaledit"
									><i class="fas fa-edit"></i
								></a>
								<a
									href=""
									class="btn btn-danger btn-sm"
									onclick="return confirm('Are u sure u wanna delete?')"
									><i class="fas fa-delete"></i
								></a>
							</td>
						</tr>
						<tr>
							<td>Belinda</td>
							<td>Carliste</td>
							<td>
								<a
									href=""
									class="btn btn-warning btn-sm"
									data-bs-toggle="modal"
									data-bs-target="#modaledit"
									><i class="fas fa-edit"></i
								></a>
								<a
									href=""
									class="btn btn-danger btn-sm"
									onclick="return confirm('Are u sure u wanna delete?')"
									>Delete</a
								>
							</td>
						</tr>
						<tr>
							<td>Julien</td>
							<td>Lepers</td>
							<td>
								<a
									href=""
									class="btn btn-warning btn-sm"
									data-bs-toggle="modal"
									data-bs-target="#modaledit"
									><i class="fas fa-edit"></i
								></a>
								<a
									href=""
									class="btn btn-danger btn-sm"
									onclick="return confirm('Are u sure u wanna delete?')"
									>Delete</a
								>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="modaladd" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="staticBackdropLabel">Insert Author</h5>
						<button
							type="button"
							class="btn-close"
							data-bs-dismiss="modal"
							aria-label="Close"
						></button>
					</div>
					<div class="modal-body">
						<form action="" method="POST">
							<div class="mb-3">
								<label for="txtfn" class="form-label">First Name</label>
								<input type="text" class="form-control" id="txtfn" />
							</div>
							<div class="mb-3">
								<label for="txtln" class="form-label">Last Name</label>
								<input type="text" class="form-control" id="txtln" />
							</div>
							<button type="submit" class="btn btn-success">Add Author</button>
						</form>
					</div>
					<div class="modal-footer">
						<button
							type="button"
							class="btn btn-secondary"
							data-bs-dismiss="modal"
						>
							Close
						</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="modaledit" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="staticBackdropLabel">Update Author</h5>
						<button
							type="button"
							class="btn-close"
							data-bs-dismiss="modal"
							aria-label="Close"
						></button>
					</div>
					<div class="modal-body">
						<form action="" method="POST">
							<div class="mb-3">
								<label for="txtfn" class="form-label">First Name</label>
								<input type="text" class="form-control" id="txtfn" />
							</div>
							<div class="mb-3">
								<label for="txtln" class="form-label">Last Name</label>
								<input type="text" class="form-control" id="txtln" />
							</div>
							<button type="submit" class="btn btn-outline-warning">
								Update Author
							</button>
						</form>
					</div>
					<div class="modal-footer">
						<button
							type="button"
							class="btn btn-secondary"
							data-bs-dismiss="modal"
						>
							Close
						</button>
					</div>
				</div>
			</div>
		</div>

		{% endblock %}
	</body>
</html>
